.graphContainer {
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	column-gap: 1rem;
	transition: width 0.25s ease-out;
}
.graph > p {
	background-color: #f8f9fc;
	display: flex;
	padding: 1rem 0.5rem;
	border: 1px solid rgba(211, 211, 211, 0.5);
}
.graph > p > span {
	padding: 0 1rem;
	font-size: 1rem;
	color: #4e73df;
	font-weight: bold;
	margin-right: auto;
}
.verticon {
	margin-left: auto;
}
.graphContainer canvas {
	background-color: white;
}
.line > canvas {
	padding: 1.25rem;
	max-height: 15rem;
}
.pie > canvas {
	padding: 1.25rem;
	max-height: 17.5rem;
}
.graph {
	position: relative;
	z-index: 1;
}
.graphPopup {
	position: absolute;
	z-index: 100;
	top: 2.5rem;
	right: 1.25rem;
	width: 20%;
	max-width: 300px;
	height: 17.5%;
	font-size: 0.5rem;
	padding: 0.5rem 0;
	border: 1px solid rgba(211, 211, 211, 0.5);
	background-color: white;
}
.graphPopup span {
	color: lightgray;
	padding-left: 0.5rem;
}
.graphPopup p:not(last-child) {
	padding-left: 0.5rem;
}
.graphPopup p:last-child {
	width: 100%;
	border-top: 1px solid darkgray;
}
.graph2 {
	margin-top: 1.5rem;
}
@media (min-width: 768px) {
	.line > canvas {
		max-height: 22.5rem;
	}
	.pie > canvas {
		min-height: 22.5rem;
	}
	.graphPopup {
		font-size: 0.75rem;
		width: 150px;
		height: 22%;
	}
}
@media (min-width: 990px) {
	.graphContainer {
		flex-direction: row;
	}
	.graph1 {
		width: 65%;
	}
	.graph2 {
		width: 35%;
		margin-top: 0;
	}

	.line > canvas,
	.pie > canvas {
		min-height: 22.5rem;
	}
}
