.projects {
	margin-top: 1.5rem;
	background-color: white;
	padding-bottom: 1rem;
}
.projects .container {
	padding: 0.25rem 1.5rem 0.75rem 1.5rem;
}
.col {
	margin-top: 1rem;
}
.col p {
	color: #777;
	width: 100%;
	display: flex;
}
.col span {
	margin-left: auto;
}
.projects h2 {
	background-color: #f8f9fc;
	display: flex;
	padding: 1rem 1.5rem;
	font-size: 1rem;
	color: #4e73df;
	font-weight: bold;
	border: 1px solid rgba(211, 211, 211, 0.5);
}
.projects .percentageContainer {
	height: 1rem;
	margin: 0.75rem 0 0 0;
	width: 100%;
	border-radius: 0.5rem;
}
